// Text Color

.white {
  color: $white;
}

.ink-1 {
  color: $ink-1;
}

.ink-2 {
  color: $ink-2;
}

.ink-3 {
  color: $ink-3;
}

.ink-4 {
  color: $ink-4;
}

.sky-1 {
  color: $sky-1;
}

.sky-2 {
  color: $sky-2;
}

.sky-3 {
  color: $sky-3;
}

.sky-4 {
  color: $sky-4;
}

.blue {
  color: $blue;
}

.blue-light {
  color: $blue-light;
}

.blue-dark {
  color: $blue-dark;
}

.blue-background {
  color: $blue-background;
}

.red {
  color: $red;
}

.red-light {
  color: $red-light;
}

.red-dark {
  color: $red-dark;
}

.red-background {
  color: $red-background;
}

.green {
  color: $green;
}

.green-light {
  color: $green-light;
}

.green-dark {
  color: $green-dark;
}

.green-background {
  color: $green-background;
}

.yellow {
  color: $yellow;
}

.yellow-light {
  color: $yellow-light;
}

.yellow-dark {
  color: $yellow-dark;
}

.yellow-background {
  color: $yellow-background;
}


.orange {
  color: $orange;
}

.pink {
  color: $pink;
}

.grape {
  color: $grape;
}

.violet {
  color: $violet;
}

.indigo {
  color: $indigo;
}

.cyan {
  color: $cyan;
}

.teal {
  color: $teal;
}

.lime {
  color: $lime;
}

// Background Color

.bg-white {
  background-color: $white;
}

.bg-ink-1 {
  background-color: $ink-1;
}

.bg-ink-2 {
  background-color: $ink-2;
}

.bg-ink-3 {
  background-color: $ink-3;
}

.bg-ink-4 {
  background-color: $ink-4;
}

.bg-sky-1 {
  background-color: $sky-1;
}

.bg-sky-2 {
  background-color: $sky-2;
}

.bg-sky-3 {
  background-color: $sky-3;
}

.bg-sky-4 {
  background-color: $sky-4;
}

.bg-blue {
  background-color: $blue;
}

.bg-blue-light {
  background-color: $blue-light;
}

.bg-blue-dark {
  background-color: $blue-dark;
}

.bg-blue-background {
  background-color: $blue-background;
}

.bg-red {
  background-color: $red;
}

.bg-red-light {
  background-color: $red-light;
}

.bg-red-dark {
  background-color: $red-dark;
}

.bg-red-background {
  background-color: $red-background;
}

.bg-green {
  background-color: $green;
}

.bg-green-light {
  background-color: $green-light;
}

.bg-green-dark {
  background-color: $green-dark;
}

.bg-green-background {
  background-color: $green-background;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-yellow-light {
  background-color: $yellow-light;
}

.bg-yellow-dark {
  background-color: $yellow-dark;
}

.bg-yellow-background {
  background-color: $yellow-background;
}

.bg-orange {
  background-color: $orange;
}

.bg-pink {
  background-color: $pink;
}

.bg-grape {
  background-color: $grape;
}

.bg-violet {
  background-color: $violet;
}

.bg-indigo {
  background-color: $indigo;
}

.bg-cyan {
  background-color: $cyan;
}

.bg-teal {
  background-color: $teal;
}

.bg-lime {
  background-color: $lime;
}
