@import url(normalize.css);
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.text-caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px; }
  .text-caption.info {
    margin-top: -8px; }

.text-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px; }

.text-h5 {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase; }

.text-h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; }

.text-h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px; }

.text-h2 {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px; }

.text-h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px; }

.text-hero {
  font-weight: 600;
  font-size: 42px;
  line-height: 44px; }

.white {
  color: #fff; }

.ink-1 {
  color: #222b3d; }

.ink-2 {
  color: #424957; }

.ink-3 {
  color: #666e7d; }

.ink-4 {
  color: #8c94a3; }

.sky-1 {
  color: #f7f8fa; }

.sky-2 {
  color: #f0f2f5; }

.sky-3 {
  color: #dfe1e6; }

.sky-4 {
  color: #ccd0d9; }

.blue {
  color: #1971c2; }

.blue-light {
  color: #1c7ed6; }

.blue-dark {
  color: #1864ab; }

.blue-background {
  color: #e7f5ff; }

.red {
  color: #e03131; }

.red-light {
  color: #f03e3e; }

.red-dark {
  color: #c92a2a; }

.red-background {
  color: #fff5f5; }

.green {
  color: #2F9E44; }

.green-light {
  color: #37B24D; }

.green-dark {
  color: #2B8A3E; }

.green-background {
  color: #EBFBEE; }

.yellow {
  color: #F08C00; }

.yellow-light {
  color: #F59F00; }

.yellow-dark {
  color: #E67700; }

.yellow-background {
  color: #FFF9DB; }

.orange {
  color: #E8590C; }

.pink {
  color: #C2255C; }

.grape {
  color: #9C36B5; }

.violet {
  color: #6741D9; }

.indigo {
  color: #3B5BDB; }

.cyan {
  color: #0C8599; }

.teal {
  color: #099268; }

.lime {
  color: #66A80F; }

.bg-white {
  background-color: #fff; }

.bg-ink-1 {
  background-color: #222b3d; }

.bg-ink-2 {
  background-color: #424957; }

.bg-ink-3 {
  background-color: #666e7d; }

.bg-ink-4 {
  background-color: #8c94a3; }

.bg-sky-1 {
  background-color: #f7f8fa; }

.bg-sky-2 {
  background-color: #f0f2f5; }

.bg-sky-3 {
  background-color: #dfe1e6; }

.bg-sky-4 {
  background-color: #ccd0d9; }

.bg-blue {
  background-color: #1971c2; }

.bg-blue-light {
  background-color: #1c7ed6; }

.bg-blue-dark {
  background-color: #1864ab; }

.bg-blue-background {
  background-color: #e7f5ff; }

.bg-red {
  background-color: #e03131; }

.bg-red-light {
  background-color: #f03e3e; }

.bg-red-dark {
  background-color: #c92a2a; }

.bg-red-background {
  background-color: #fff5f5; }

.bg-green {
  background-color: #2F9E44; }

.bg-green-light {
  background-color: #37B24D; }

.bg-green-dark {
  background-color: #2B8A3E; }

.bg-green-background {
  background-color: #EBFBEE; }

.bg-yellow {
  background-color: #F08C00; }

.bg-yellow-light {
  background-color: #F59F00; }

.bg-yellow-dark {
  background-color: #E67700; }

.bg-yellow-background {
  background-color: #FFF9DB; }

.bg-orange {
  background-color: #E8590C; }

.bg-pink {
  background-color: #C2255C; }

.bg-grape {
  background-color: #9C36B5; }

.bg-violet {
  background-color: #6741D9; }

.bg-indigo {
  background-color: #3B5BDB; }

.bg-cyan {
  background-color: #0C8599; }

.bg-teal {
  background-color: #099268; }

.bg-lime {
  background-color: #66A80F; }

.Venom-Button {
  fill: #1971c2;
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 2.25rem;
  min-width: 2.25rem;
  margin: 0 0.5rem 0 0;
  padding: 0.4375rem 0.9375rem;
  box-shadow: 0 1px 0 0 rgba(34, 43, 61, 0.05);
  border: 1px solid #ccd0d9;
  background: #fff;
  border-radius: 3px;
  line-height: 1;
  color: #1971c2;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  transition-property: background,border;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  vertical-align: top; }
  .Venom-Button:hover {
    box-shadow: 0 2px 2px 0 rgba(34, 43, 61, 0.1);
    background: #f7f8fa; }
  .Venom-Button:active {
    transform: translateY(1px);
    box-shadow: 0 0 0 0 rgba(34, 43, 61, 0.05);
    background: #fff; }
  .Venom-Button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(25, 113, 194, 0.2); }
  .Venom-Button__Content {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-transform: none;
    letter-spacing: normal;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 1px;
    min-height: 1px; }
  .Venom-Button--primary {
    background: #1971c2;
    border-color: #1971c2;
    color: #fff;
    fill: #fff; }
    .Venom-Button--primary:hover {
      background: #1864ab; }
    .Venom-Button--primary:active {
      background: #1971c2; }
  .Venom-Button--destructive {
    color: #e03131;
    fill: #e03131; }
    .Venom-Button--destructive:hover {
      background: #fff5f5; }
    .Venom-Button--destructive:active {
      background: #fff; }
    .Venom-Button--destructive:focus {
      box-shadow: 0 0 0 3px rgba(224, 49, 49, 0.2); }
  .Venom-Button--plain {
    fill: #1971c2;
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
    background: transparent;
    border: 0;
    box-shadow: none;
    color: #1971c2; }
    .Venom-Button--plain:hover {
      background: #f7f8fa;
      box-shadow: none; }
    .Venom-Button--plain:active {
      background: #fff; }
  .Venom-Button__Icon {
    transition: color 0.2s cubic-bezier(0.64, 0, 0.35, 1); }
    .Venom-Button__Icon:first-child {
      margin-left: -.25rem; }
    .Venom-Button__Icon:last-child {
      margin-right: -.5rem;
      margin-left: .25rem; }
    .Venom-Button__Icon + :not(.Venom-Button__Icon) {
      margin-left: 0.25rem; }
  .Venom-Button--iconOnly {
    padding-left: .5625rem;
    padding-right: .5625rem; }
    .Venom-Button--iconOnly .Venom-Button__Icon:first-child {
      margin-left: 0; }
    .Venom-Button--iconOnly .Venom-Button__Icon:last-child {
      margin-right: -.25rem; }
    .Venom-Button--iconOnly .Venom-Button__Icon:only-child {
      margin-right: 0; }

.Venom-Icon {
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  max-height: 100%;
  max-width: 100%;
  margin: auto; }

.btn {
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1971c2;
  display: inline-block;
  padding: 7px 15px;
  margin-right: 8px;
  box-shadow: 0 1px 0 0 rgba(34, 43, 61, 0.05);
  border: 1px solid #ccd0d9;
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
  transform: translateY(0px);
  transition: transform 0.2s, color 0.2s;
  text-decoration: none;
  box-sizing: content-box;
  vertical-align: middle; }
  .btn:hover {
    box-shadow: 0 2px 2px 0 rgba(34, 43, 61, 0.1);
    background: #f7f8fa; }
  .btn:active {
    transform: translateY(1px);
    box-shadow: 0 0 0 0 rgba(34, 43, 61, 0.05);
    background: #fff; }
  .btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(25, 113, 194, 0.2); }
  .btn.btn-ghost {
    padding: 8px; }

.btn-primary {
  background: #1971c2;
  border: 1px solid #1864ab;
  color: #fff; }
  .btn-primary:hover {
    background: #1864ab; }
  .btn-primary:active {
    background: #1971c2; }

.btn-ghost {
  background: #fff;
  color: #1971c2;
  border: none;
  box-shadow: none; }
  .btn-ghost:hover {
    background: #f7f8fa;
    box-shadow: none; }
  .btn-ghost:active {
    background: #fff; }
  .btn-ghost:focus {
    box-shadow: 0 0 0 3px rgba(25, 113, 194, 0.2); }

.btn-destructive {
  background: #fff;
  color: #e03131; }
  .btn-destructive:hover {
    background: #fff5f5;
    border: 1px solid #f03e3e; }
  .btn-destructive:active {
    background: #fff; }
  .btn-destructive:focus {
    box-shadow: 0 0 0 3px rgba(224, 49, 49, 0.2); }

.btn-icon {
  fill: #1971c2;
  padding: 7px 9px; }
  .btn-icon svg {
    display: block; }

.btn-dropdown {
  padding: 7px 7px 7px 15px; }
  .btn-dropdown svg {
    fill: #1971c2;
    display: inline-block;
    float: right;
    margin-left: 4px; }

.btn-group {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px; }
  .btn-group .dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 9;
    background: #fff;
    border-radius: 3px;
    margin: 0;
    border: 1px solid #ccd0d9;
    box-shadow: 0 2px 2px 0 rgba(34, 43, 61, 0.1);
    padding: 8px 0;
    min-width: 180px;
    -webkit-transition: opacity 125ms ease-in,transform 125ms ease-in;
    -moz-transition: opacity 125ms ease-in,transform 125ms ease-in;
    transition: opacity 125ms ease-in,transform 125ms ease-in;
    transform: translate3d(0, -10px, 0);
    -ms-transform: translate(0, -10px);
    display: block;
    opacity: 0;
    visibility: hidden; }
    .btn-group .dropdown-menu li {
      list-style: none; }
    .btn-group .dropdown-menu a {
      text-decoration: none;
      padding: 6px 12px;
      color: #1971c2;
      display: block; }
      .btn-group .dropdown-menu a:hover {
        background-color: #e7f5ff; }
  .btn-group.open .dropdown-menu {
    transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    display: block;
    opacity: 1;
    visibility: visible; }

.btn-small {
  padding: 4px 11px; }

.btn-large {
  font-size: 16px;
  line-height: 24px;
  padding: 9px 19px; }

.btn-theme {
  background: #fff;
  color: #00c1b2; }
  .btn-theme:hover {
    background: #faf9f7; }
  .btn-theme:active {
    background: #fff; }
  .btn-theme:focus {
    box-shadow: 0 0 0 3px rgba(0, 193, 178, 0.2); }
  .btn-theme.btn-primary {
    background: #00c1b2;
    color: #fff;
    border: 1px solid #00a89a; }
    .btn-theme.btn-primary:hover {
      background: #00a89a; }
    .btn-theme.btn-primary:active {
      background: #00c1b2; }
    .btn-theme.btn-primary:focus {
      outline: none; }
  .btn-theme.btn-ghost {
    background: #fff;
    color: #00c1b2;
    border: none;
    box-shadow: none; }
    .btn-theme.btn-ghost:hover {
      background: #faf9f7; }
    .btn-theme.btn-ghost:active {
      background: #fff; }
    .btn-theme.btn-ghost:focus {
      box-shadow: 0 0 0 3px rgba(0, 193, 178, 0.2); }

.Polaris-Button {
  fill: #637381;
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 3.6rem;
  min-width: 3.6rem;
  margin: 0;
  padding: 0.7rem 1.6rem;
  background: linear-gradient(180deg, #fff, #f9fafb);
  border: 1px solid #c4cdd5;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border-radius: 3px;
  line-height: 1;
  color: #212b36;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  transition-property: background,border,box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1); }

.Polaris-Button__Content {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-transform: none;
  letter-spacing: normal;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 1px;
  min-height: 1px; }

.Polaris-Button__Icon:last-child {
  margin-right: -.8rem;
  margin-left: 0.4rem; }

.Polaris-Icon {
  display: block;
  height: 2rem;
  width: 2rem;
  max-height: 100%;
  max-width: 100%;
  margin: auto; }
